
body {
    background-color: black;
    background-size: cover;
   
}

h1 { font-size: 45px;
}

#logo {width: 100px;
    height: 100px;
    border-radius: 50%;
    border-bottom-style: solid;
    border-width: 5px;
}

#titulo-abreviado{display: none;        
}
  
.contenedor {background-color: rgba(66, 33, 184, 0.664);
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   
}

#generos-musicales button {
    background-color: rgba(195, 154, 235, 0.438);
    color: black;
    display: block;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-style: none;
    border-bottom-style: solid;
    border-width: 6px;
}

#imagen-contenido{
    display: flex;
    flex-direction: row;
}

#generos-musicales button.seleccionado {
    background-color: rgba(186, 53, 219, 0.603);
    font-size: 25px;
    border-width: 3px;
}

#generos-musicales button:hover {
    background-color: rgba(157, 86, 223, 0.555);
    transition: 0.002s;
}

#contenido {
    background-color: rgba(178, 121, 231, 0.555);
    text-align: left;
    width: 60%;
    height: 460px;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;
    border-style: none;
    border-bottom-style:solid ;
    border-width: 3px;
}

#imagen{width: 50%;
height: 460px;
border-radius: 20px;
border-style: none;
border-bottom-style:solid ;
border-width: 5px;}





