
body {
    background-color: black;
    background-size: cover;
   
}


#logo {width: 50Px;
    height:50px;
    border-radius: 50%;
    margin-right: 30px}

    #titulo-abreviado{display: none;        
    }
    

.contenedor {background-color: rgba(66, 33, 184, 0.664);
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   
}



button {
    background-color: rgba(214, 217, 26, 0.438);
    color: black;
    display: block;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-style: none;
    border-bottom-style: solid;
}

#imagen-contenido{
    display: flex;
    flex-direction: row;
}


 button.seleccionado {
    background-color: rgba(186, 53, 219, 0.603);
    font-size: 25px;
}

 button:hover {
    background-color: rgba(157, 86, 223, 0.555);
    transition: 0.002s;
}



#contenido {
    background-color: rgba(178, 121, 231, 0.555);
    text-align: left;
    width: 60%;
    height: 460px;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;

}

#imagen{width: 50%;
height: 460px;
border-radius: 20px;}





